$primary: #E60028
$primary-light: #ff5552
$primary-dark: #ab0000
$primary-text: #ffffff

$secondary: #FFFFFF
$secondary-dark: #cccccc
$secondary-text: #000000

body
  background-color: $primary-dark
  color: $primary-text !important

.trial
  background-color: $primary
  text-align: center

.primary-text
  color: $primary-text !important
