$primary: #E60028
$primary-light: #ff5552
$primary-dark: #ab0000
$primary-text: #ffffff

$secondary: #FFFFFF
$secondary-dark: #cccccc
$secondary-text: #000000

body
  background-color: $primary

.trial
  background-color: $primary
  text-align: center

.primary-text
  color: $primary-text !important

button.ui.basic.button.basic-red-button
  color: #E60028 !important
  box-shadow: 0 0 0 1px #E60028 inset!important
  padding: 11px 21px
  &:hover
    background-color: $primary !important
    color: $primary-text !important
  &:active
    background-color: $primary-dark !important
    color: $primary-text !important


